/* src/styles/global.css */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Fraunces:ital,wght@0,500;0,600;0,700;1,600&display=swap');

*,
*:after,
*:before {
	box-sizing: border-box;
}

@font-face {
	font-family: 'Fraunces', Georgia, serif;
	src: url('/path/to/Fraunces-Regular.woff2') format('woff2'),
		 url('/path/to/Fraunces-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
  }

  @font-face {
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/dmsans/v11/rP2Hp2ywxg089UriCZOIHQ.woff2) format('woff2');
  }
  
  @font-face {
	font-family: 'Fraunces';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/fraunces/v24/6NUh8FyLNQOQZAnv9bYEvDiIdE9Ea92uemAk_WBq8U_9v0c2Wa0K7iN7hzFUPJH58nib14c7qv8oRcTn.woff2) format('woff2');
  }  

body {
	font-family: "DM Sans", sans-serif;
	font-size: 1rem;
	line-height: 1.5;
	background-color: #f8f3eb;
	color: #484847;
	padding-bottom: 5rem;
}

img {
	display: block;
	max-width: 100%;
}

.responsive-wrapper {
	width: 95%;
	max-width: 1900px;
	margin-left: auto;
	margin-right: auto;
}

/* Il resto del CSS che hai fornito... */

:focus {
	outline: 0;
}

body {
	font-family: "DM Sans", sans-serif;
	font-size: 1rem;
	line-height: 1.5;
	background-color: #f8f3eb;
	color: #000000;
  }
  
  .responsive-wrapper {
	width: 95%;
	max-width: 1900px;
	margin-left: auto;
	margin-right: auto;
  }

  .article-title {
	font-family: "Fraunces", Georgia, serif;
	font-weight: 700;
	line-height: 1.25;
  }
  
  .article-title--medium {
	font-size: 1.5rem;
  }
  
  .article-link {
	color: #0000FF;
	text-decoration: none;
  }