---
---
<header class="header responsive-wrapper">
	<div class="header-left">
		<h1>Vita nei boschi</h1>	  
	</div>
	<div class="header-middle">
		<a href="#" class="header-link">Chiamaci (123) 456 789</a>
		<span>/</span>
		<a href="#" class="header-link">info@vitaneiboschi.it</a>
	</div>
	<div class="header-right">
	<nav class="header-nav">
		<a href="#" class="header-link">Login</a>
		<a href="#" class="header-link header-link--button">Abbonati per € 1 al mese</a>
	</nav>
		<button class="header-menu-button">Menu</button>
	</div>
</header>