---
// src/layouts/Layout.astro
import Header from '../components/Header.astro';

const { title } = Astro.props;
---

<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <div class="responsive-wrapper">
      <main>
        <slot />
      </main>
    </div>
  </body>
</html>

<style is:global>
  body {
    font-family: "DM Sans", sans-serif;
    background-color: #f8f3eb;
    color: #484847;
    margin: 0;
    padding: 0;
  }

  .responsive-wrapper {
    width: 95%;
    max-width: 1900px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1.5rem;
  }

  .main-content {
    padding: 1rem;
  }

  @media (min-width: 768px) {
    .main-content {
      padding: 2rem;
    }
  }

  @media (min-width: 1024px) {
    .main-content {
      max-width: 1200px;
      margin: 0 auto;
    }
  }
</style>